.scroll-left {
 height: 50px;	
 /* overflow: hidden;
 position: relative; */
 background: black;
 color: white;
}

.scroll-left h4 {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 text-transform: uppercase;
 font-weight: 500;
 /* Starting position */
 transform:translateX(100%);
 /* Apply animation to this element */
 animation: scroll-left 15s linear infinite;
}
/* Move it (define the animation) */
@keyframes scroll-left {
 0%   {
 transform: translateX(100%); 		
 }
 100% {
 transform: translateX(-100%); 
 }
}
